<h1>About Us</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">List of Skills</th>
        <th scope="col">Resume</th>
        <th scope="col">Portrait</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Emeka Okoisama</th>
        <td>Is a forward-thinking and enthusiastic individual with a passion for service delivery and customer satisfaction. I bring energy, enthusiasm, problem-solving and teamwork skills to any </b>
        position. I am highly motivated with outstanding interpersonal skills with the ability to work independently and in a team.</td>
        <td><a href="./resumes/Resume-Emeka-Okoisama.pdf">Link to Emeka's resume</a></td>
        <td><img src="./assets/me.jpeg" alt="" border=3 height=150 width=150></img></td>
      </tr>
      <tr>
        <th scope="row">Brett Tindall</th>
        <td>Is a dedicated worker who is adept at programming in many different languages. I bring charisma and hard work to any project I work on and can flex to fill most roles. I am very passionate about my work and enjoy taking leadership roles.</td>
        <td><a href="./resumes/Resume-Brett-Tindall.pdf">Link to Brett's resume</a></td>
        <td><img src="./img/me.png" alt="" border=3 height=150 width=150></img></td>
      </tr>
    </tbody>
    </table>