<h1>Our Projects</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Project Title</th>
        <th scope="col">Project Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Modulus</th>
        <td>
          <p>
            The first project displayed on our website is a windows point form application called Modulus. The purpose of modulus is to 
            help organize a food businesses inventory and to keep track of any product being wasted. This is achieved by first storing all of 
            the food and inventory in a database, then every week all unused and/or wasted food is tracked in a report. Finally, 
            these reports are merged together and displayed as a monthly report. 
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">Webd 3201 website</th>
        <td>
          <p>
            The second project to be displayed on our website is a website that utilizes HTML, php and postgres sql to create a website that 
             allows salesperson so sign-in and log information about their sales history. This site includes multiple user types, such as admin
             and salesperson, and contains many functions and features, such as resetting a users password, adding clients, displaying user or client info in tables and 
             logging calls with clients in real time.
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">Cobol based data processor</th>
        <td>
          <p>
            The final project being displayed on our website is a data processor that was creating using the language cobol. This application
            would take a .dat file containing raw data on a stores transactions as its input and process it by first validating the data, then
            the file is split into 2 .dat files where one contains all return transactions and one contains all sales transactions. Finally 
            both files are processed, formatted and displayed in 2 separate reports.
          </p>
        </td>
      </tr>
    </tbody>
  </table>