<h1>Our Services</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">List of Skills</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Brett Tindall</th>
        <td>Graphic Design, working with Hosting and working with databases.</td>
        <td><img src="./assets/images/me.png" alt="" border=3 height=150 width=150></img></td>
      </tr>
    </tbody>
  </table>